@charset "utf-8";
*{margin:0; padding:0;}
li{list-style:none;}
em,i{font-style:normal;}
img{border:none;}
a{text-decoration:none;}
.warp{
	width:320px;
	position:relative;
	margin:100px auto 0;
}

.navBox{
	height:60px;
	background:#FFF; 
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
			box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	font:20px/60px "\5FAE\8F6F\96C5\9ED1";
	cursor:pointer;
}
.navBox span{
	display:inline-block;
	height:60px;
	padding-left:30px;
}
.navBox span img{float:left;}
.triangle{
	height:40px; width:40px;
	border-left:#CCC solid 1px;
	position:absolute;
	right:10px; top:10px;
}
.triangle i{
	position:absolute; left:50%; top:50%;
	border-style:solid dashed dashed dashed;
	border-color:#999 #FFF #FFF #FFF;
	border-width:6px;
	margin:-3px 0 0 -3px;
	*height:0; *overflow:hidden;
}
/*active*/
.nav_active{color:#06F;}
.nav_active .triangle i{
	position:absolute; left:50%; top:50%;
	border-style:dashed dashed solid dashed;
	border-color:#FFF #FFF #09F #FFF;
	border-width:6px;
	_border-width:7px;
	margin:-9px 0 0 -3px;
	*height:0; *overflow:hidden;
}
/*list*/
.navList{
	position:absolute;
	left:0; top:65px;
	width:100%;
}
.navList li{
	height:60px;
	margin-bottom:5px;
	position:relative;
	filter:alpha(opacity:0);
	opacity:0;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
			box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
.navList li a{
	font:20px/60px "\5FAE\8F6F\96C5\9ED1";
	height:60px;
	background:#FFF;
	padding-left:30px;
	display:block;
	color:#333;
	-webkit-transition:all ease .3s;
	   -moz-transition:all ease .3s;
	    -ms-transition:all ease .3s;
	     -o-transition:all ease .3s;
	        transition:all ease .3s;
}
.navList li a img{float:left;}
.navList li a:hover{
	background:#09F;
	color:#FFF;
	-webkit-transition:all ease .3s;
	   -moz-transition:all ease .3s;
	    -ms-transition:all ease .3s;
	     -o-transition:all ease .3s;
	        transition:all ease .3s;
}
#myself {width:600px; height:500px; background:#fff; position:absolute; left:50%; bottom:-500px; margin-left:-300px; opacity:0; filter:alpha(opacity:0);}
#myself #my_close {display:inline-block; width:15px; height:15px; font-size:16px; text-align:center; line-height:15px; background:#06f; border-radius:50%; cursor:pointer; position:absolute; right:5px; top:5px;}

#table{width:550px; height:450px; margin:25px; border-collapse:collapse;}
#table tr td {height:36px; text-align:center; line-height:36px; border:1px solid #000;}
#table thead tr td.tb_title{width:70px; font-size:16px; color:#000; font-weight:bold; background:#E3E3E3;}
#table thead tr td.tb_cont {width:150px;}
#table tbody tr td.tb_title {width:70px; font-size:16px; color:#000; font-weight:bold; background:#E3E3E3; height:100px;}
#table tbody tr .tbody_cont{text-align:left; padding:8px;line-height:24px; font-size:14px;}

/*-------------------------------header------------------------------------------------*/
.fl{float:left;}
.fr{float:right;}

